@model Models.Models.Cat

@{
    ViewBag.Title = "saveCatConfirmationMDL";
}

<h2>saveCatConfirmationMDL</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
  <h4>Cat</h4>
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Id)

  <div class="form-group">
    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </div>
  </div>



  @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>*@


  <div class="modal fade" id="saveCatConfirmMDL" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Save the current cat record?
        </div>
        <div class="modal-footer">

          @*<a href="/CatPicker/Home/editCat" class="btn btn-primary">No</a>*@

         


          @*<a href="/CatPicker/Home/saveCat" class="btn btn-primary">Yes</a>*@
          @*<button type="submit"  class="btn btn-danger">Yes</button>*@
          <input type="submit" value="Yes" class="btn btn-default" />

        </div>
      </div>
    </div>
  </div>


  @section scripts{
    <script type="text/javascript">
      //$(document).ready(function () {
      $("#saveCatConfirmMDL").modal("show");
        //});
    </script>
  }

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
